<header>
    <img
      src="assets/img/rodrigo.jpg"
      alt="Rodrigo Abreu - Foto de Perfil"
    />
    <h1>Rodrigo Abreu</h1>
  </header>
  
  <aside>
    <div class="container">
      <p>Javascript | Type Sript | Angular | NodeJs </p>
      <p>Paulinia, São Paulo, Brasil</p>
      <p>
        Comecei minha jornada em TI no Ensino medio e tecnico. Devido ao interresse pela área continuei a estudar mais sobre e hoje em dia estou na faculdade de Sistema de Informação
      </p>
  
      <nav>
        <ul>
          <li>
            <a href="assets/pdf/Curriculo.pdf" target="_blank" class="btn btn-primary">
              Download Cv
            </a>
          </li>
  
          <li>
            <a
              href="https://www.linkedin.com/in/rodrigo-abreu-dos-santos-b64572223/"
              target="_blank"
              class="btn btn-secondary"
            >
              LinkedIn
            </a>
          </li>
        </ul>
      </nav>
  
      <section>
        <figure>
          <img
            src="assets/icons/whatsapp.svg"
            alt="Ícone para contato do WhatsApp"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a
              href="https://api.whatsapp.com/send?phone=5519987097585&text=Ol%C3%A1%20Rodrigo,%20preciso%20de%20você%20como%20estagiario!"
              target="_blank"
            >
              <strong>Envie uma menssagem para:</strong>
              <p>WhatsApp: (55) 19 98709-7585</p>
            </a>
          </figcaption>
        </figure>
  
        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Ícone para contato do e-mail"
            width="22px"
            height="24px"
          />
  
          <figcaption>
            <a href="mailto:rodrigoabreu123455@gmail.com" target="_blank">
              <strong>Envie uma e-mail para:</strong>
              <p>rodrigoabreu123455&#64;gmail.com</p>
            </a>
          </figcaption>
        </figure>
      </section>
    </div>
  </aside>